<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include ("../partials/boostrapCss.ejs") %>
		<link rel="stylesheet" href="../../public/index.css" />
		<title>Document</title>
	</head>
	<body>
		<div
			class="d-flex flex-column align-items-center justify-content-around w-50 mx-auto gap-3 bg-info text-bg-dark"
		>
			<%- include("../partials/form.ejs") %>
			<div class="w-100"><%- include("../partials/list.ejs") %></div>
		</div>
		<div
			id="form-user-comments"
			class="w-50 mx-auto my-5 d-flex flex-column align-items-center"
		>
			<h1 class="mb-5">Deja tu mensaje</h1>
			<input
				id="input-user-mail"
				class="w-50 mb-2"
				name="email"
				type="email"
				placeholder="Ingrese su email"
			/>
			<div class="w-50 d-flex gap-3">
				<input
					id="input-comment"
					class="w-75"
					name="comment"
					type="text"
					placeholder="Ingrese su mensaje"
				/>
				<button
					id="form-commets-btn"
					type="submit"
					class="col-md-3 mr-1 w-25 bg-info text-light border-0 fw-bold"
				>
					Enviar
				</button>
			</div>
		</div>

		<div id="commets-section" class="w-50 mx-auto"></div>
		<%- include ("../partials/boostrapJs.ejs") %>
		<script src="/socket.io/socket.io.min.js"></script>
		<script>
			const socket = io();
			const form = document.querySelector("form");
			const tbody = document.querySelector("tbody");
			const title = document.getElementById("title");
			const price = document.getElementById("price");
			const thumbnail = document.getElementById("thumbnail");

			form.addEventListener("submit", (e) => {
				e.preventDefault();
				console.log(new FormData(e.target));
				//const data = Object.fromEntries(new FormData(e.target));
				const data = {
					title: title.value,
					price: price.value,
					thumbnail: thumbnail.value,
				};

				socket.emit("product", data);

				title.value = "";
				price.value = "";
				thumbnail.value = "";
			});

			socket.on("loadProduct", (list) => {
				const newProduct = list
					.map((product) => {
						return `
						<tr>
							<td>${product.title}</td>
							<td>$ ${product.price}</td>
							<td>${product.thumbnail}</td>
						</tr>
			     				`;
					})
					.join(" ");

				tbody.innerHTML = newProduct;
			});

			// ----- Mensajes
			const commetsSection = document.getElementById("commets-section");
			const inputEmail = document.getElementById("input-user-mail");
			const textArea = document.getElementById("input-comment");
			const btn = document.getElementById("form-commets-btn");

			btn.addEventListener("click", (e) => {
				e.preventDefault();
				const mail = inputEmail.value;
				const message = textArea.value;
				const date = new Date();
				const fecha = date.toLocaleString();

				const commet = {
					mail,
					message,
					fecha,
				};

				inputEmail.disabled = true;
				socket.emit("comments", commet);
				inputEmail.value = "";
				textArea.value = "";
			});

			socket.on("saveCommets", (commets) => {
				let commetsList = commets
					.map((commet) => {
						return `
					<div class="d-flex">
						<strong class="text-primary fw-bold">
							${commet.mail}
						<strong>
						<span class="text-warning">${commet.fecha}<span>	
						<p class="text-success fst-italic">
							${commet.message}
						</p>
					</div>
					`;
					})
					.join(" ");

				commetsSection.innerHTML = commetsList;
			});
		</script>
	</body>
</html>
