<section class="p-5 bg-dark">
	<h1 class="text-danger">Productos Disponibles</h1>
	<% if(data.length === 0) { %>
	<h2 class="bg-danger rounded text-center m-4">
		No hay productos en la lista
	</h2>
	<% } else {%>
	<table class="" style="color: #ffffff">
		<thead class="text-warning">
			<th>Titulo</th>
			<th>Precio</th>
			<th>Imagen</th>
		</thead>
		<tbody>
			<% data.forEach(function(product) { %>
			<tr>
				<td><%= product.title %></td>
				<td>$ <%= product.price %></td>
				<td><%= product.thumbnail %></td>
			</tr>
			<% }) %>
		</tbody>
	</table>
	<% } %>
</section>
